.cell {
  display: table-cell;
  vertical-align: middle;
}
.container {
  width: 1000px;
  margin: auto;
}
a {
  text-decoration: none;
}
.header {
  font-family: 'helveticaneuecyrlight';
  position: relative;
  z-index: 1111;
}
.slider-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  min-width: 1000px;
}
.top-panel {
  width: 100%;
  min-width: 1000px;
  background-color: #1a415d;
  height: 60px;
}
.top-panel .container {
  position: relative;
}
.logo {
  position: absolute;
  left: 0;
  z-index: 3;
}
.nav-wrap {
  margin-left: 310px;
  padding-left: 25px;
  position: relative;
}
.nav-wrap > ul > li {
  float: left;
  padding-right: 30px;
  height: 60px;
}
.nav-wrap > ul > li:hover > a,
.nav-wrap > ul > li.active > a {
  border-bottom: 2px solid #ed1c24;
}
.nav-wrap > ul > li.active .nav {
  display: block;
}
.nav-wrap > ul > li:hover .nav {
  display: block;
}
.nav-wrap > ul > li > a {
  color: white;
  display: block;
  height: 45px;
  line-height: 60px;
  position: relative;
}
.bot-header {
  width: 100%;
  min-width: 100%;
  height: 75px;
  background-color: #fefefe;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.06);
  box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.06);
}
.bot-header .container {
  position: relative;
  z-index: 2;
}
.nav {
  /* margin-left: 305px; */
  position: absolute;
  left: 0;
  top: 60px;
  display: none;
  /* &:hover{
			display: block !important;
		} */

}
.nav > ul {
  line-height: 1.1;
}
.nav > ul > li {
  float: left;
  width: 16.6%;
  text-align: center;
  font-size: 15px;
}
.nav > ul > li:first-child {
  width: 14%;
}
.nav > ul > li:nth-child(2) {
  width: 19.2%;
}
.nav > ul > li > a {
  width: 200px;
  height: 75px;
  display: table-cell;
  vertical-align: middle;
  cursor: default;
  position: relative;
  z-index: 3;
  background: url(../images/drop.png) no-repeat 95%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.nav > ul > li:hover > a {
  color: #ed1c24;
  background: white url(../images/drop-a.png) no-repeat 95%;
}
.nav > ul > li:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.nav > ul > li:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
.dropdown-menu {
  position: absolute;
  z-index: 2;
  left: 0;
  padding: 25px 0;
  padding-right: 20px;
  background-color: white;
  white-space: normal;
  text-align: left;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  opacity: 0;
  right: 0;
  visibility: hidden;
  width: auto;
  min-width: 100%;
  -moz-transition: visibility 0s linear 0.1s,opacity 0.1s linear;
  -o-transition: visibility 0s linear 0.1s,opacity 0.1s linear;
  -webkit-transition: visibility 0s linear,opacity 0.1s linear;
  -webkit-transition-delay: 0.1s,0s;
  transition: visibility 0s linear 0.1s,opacity 0.1s linear;
}
.dropdown-menu > li {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.dropdown-menu a {
  color: #5c5656;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
}
.dropdown-menu a:hover {
  color: #ed1c24;
}
.dropdown-menu .title-h5 {
  font-size: 16px;
  color: black;
  text-transform: none;
}
.third-level li {
  margin-bottom: 6px;
}
.drop-img {
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 20px;
}
.slide-caption {
  position: absolute;
  width: 1000px;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -92.5px;
}
.caption-text {
  width: 410px;
  height: 185px;
  background-color: #ed1c24;
  position: absolute;
  z-index: 2;
  left: 95px;
  text-transform: uppercase;
  color: white;
  line-height: 35px;
}
.caption-text .title {
  font-family: 'helveticaneuecyrbold';
  font-size: 32px;
}
.caption-text .text {
  font-family: 'helveticaneuecyrroman';
  font-size: 24px;
}
.caption-cell {
  width: 410px;
  height: 185px;
  padding-left: 35px;
  padding-right: 35px;
  display: table-cell;
  vertical-align: middle;
}
.bxslider li:last-child img {
  position: relative;
  left: -2px;
}
.icon-1 {
  width: 32px;
  height: 26px;
  background: url(../images/icon-1.png) no-repeat;
}
.icon-2 {
  width: 32px;
  height: 24px;
  background: url(../images/icon--2.png) no-repeat;
}
.icon-3 {
  width: 38px;
  height: 26px;
  background: url(../images/icon-3.png) no-repeat;
}
.icon-4 {
  width: 28px;
  height: 32px;
  background: url(../images/icon--4.png) no-repeat;
}
.icon-5 {
  width: 32px;
  height: 30px;
  background: url(../images/icon-5.png) no-repeat;
}
.icon-6 {
  width: 22px;
  height: 32px;
  background: url(../images/icon-6.png) no-repeat;
}
.icon-7 {
  width: 34px;
  height: 33px;
  background: url(../images/icon-7.png) no-repeat;
}
.icon-link {
  display: table;
  color: #373434;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'helveticaneuecyrlight';
  line-height: 1.3;
  padding-left: 15px;
}
.icon-link:hover .icon-1 {
  background: url(../images/icon-1h.png) no-repeat;
}
.icon-link:hover .icon-2 {
  background: url(../images/icon-2h.png) no-repeat;
}
.icon-link:hover .icon-3 {
  background: url(../images/icon-3h.png) no-repeat;
}
.icon-link:hover .icon-4 {
  background: url(../images/icon-4h.png) no-repeat;
}
.icon-link:hover .icon-5 {
  background: url(../images/icon-5h.png) no-repeat;
}
.icon-link:hover .icon-6 {
  background: url(../images/icon-6h.png) no-repeat;
}
.icon-link:hover .icon-7 {
  background: url(../images/icon-7h.png) no-repeat;
}
.icon-link .text {
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.icon-block {
  width: 14%;
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.icon-img {
  position: relative;
  padding-right: 10px;
  width: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.icons-wrapper {
  background-color: #ededed;
  padding: 8px 0;
  width: 100%;
  max-width: 1440px;
  min-width: 1000px;
  margin: auto;
}
.icon-border {
  border-top: 1px solid #dddcdc;
  border-bottom: 1px solid white;
}
.icons-container {
  padding-top: 30px;
  padding-bottom: 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid #dddcdc;
}
.icons-container .container {
  width: 100%;
  max-width: 1440px;
  min-width: 1000px;
}
.banner-img {
  width: 100%;
  height: 235px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.banners {
  width: 33.33%;
  float: left;
  position: relative;
  overflow: hidden;
  height: 235px;
}
.banners-mask {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 125px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.banners-mask .title {
  text-transform: uppercase;
  color: white;
  font-family: 'helveticaneuecyrbold';
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.banners-mask:hover {
  background: rgba(0, 0, 0, 0.59);
  padding-top: 0;
}
.banners-mask:hover .offer-list {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  max-height: 400px;
  min-height: 125px;
  left: 0;
  -moz-transition: opacity 0.2s, left 0.3s, max-height 0.1s;
  -o-transition: opacity 0.2s, left 0.3s, max-height 0.1s;
  -webkit-transition: opacity 0.2s, left 0.3s, max-height 0.1s;
  transition: opacity 0.2s, left 0.3s, max-height 0.1s;
}
.banners-mask:hover .show-link {
  background-color: #ed1c24;
}
.banners-mask .title {
  padding-bottom: 0;
}
.offer-list {
  font-family: 'helveticaneuecyrlight';
  font-size: 14px;
  margin: 10px 0;
  margin-top: 15px;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  left: 100%;
  max-height: 0;
  overflow: hidden;
  -moz-transition: left 0.3s, max-height 0.1 d;
  -o-transition: left 0.3s, max-height 0.1 d;
  -webkit-transition: left 0.3s, max-height 0.1 d;
  transition: left 0.3s, max-height 0.1 d;
}
.offer-list > ul > li {
  width: 50%;
  float: left;
}
.offer-list .list-child li {
  position: relative;
  margin-bottom: 10px;
  margin-left: 12px;
}
.offer-list .list-child li:hover:before {
  background: url(../images/list-h.png) no-repeat;
}
.offer-list .list-child li:hover a {
  text-decoration: none;
}
.offer-list .list-child li:before {
  content: '';
  display: block;
  width: 5px;
  height: 9px;
  background: url(../images/list.png) no-repeat;
  left: -10px;
  top: 4px;
  position: absolute;
}
.offer-list .list-child li a {
  color: white;
  text-decoration: underline;
}
.show-link {
  display: block;
  width: 180px;
  height: 30px;
  padding-left: 10px;
  text-transform: uppercase;
  color: white;
  line-height: 30px;
  font-family: 'helveticaneuecyrlight';
  font-size: 16px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
  background: #5c5656 url(../images/show-drop.png) no-repeat 97% 8px;
}
.about-company {
  width: 50%;
  float: left;
  padding-right: 20px;
}
.question {
  width: 50%;
  float: left;
  padding-left: 20px;
}
.offer-banners {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddcdc;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  min-width: 1000px;
}
.info-text {
  padding-top: 40px;
  font-size: 12px;
  color: #5c5656;
  font-family: 'helveticaneuecyrlight';
  line-height: 1.5;
  padding-bottom: 45px;
  border-bottom: 1px solid #dddcdc;
}
.info-text .container {
  width: 100%;
  max-width: 1440px;
  min-width: 1000px;
  padding-left: 20px;
}
.info-text .title {
  text-transform: uppercase;
  font-family: 'helveticaneuecyrbold';
}
.info-text h2 {
  font-family: 'helveticaneuecyrroman';
  color: #5c5656;
  font-size: 24px;
  margin-bottom: 25px;
}
.info-text b {
  font-family: 'helveticaneuecyrbold';
}
.info-text p {
  margin-bottom: 20px;
}
.info-text .adver-list {
  margin: 20px 0;
  margin-left: 18px;
}
.info-text .adver-list li {
  position: relative;
  margin-bottom: 5px;
}
.info-text .adver-list li:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 14px;
  background: url(../images/adver.png) no-repeat;
  left: -18px;
}
.info-text a {
  color: #5c5656;
  border-bottom: 1px solid #5c5656;
}
.info-text a:hover {
  border-bottom: 1px solid transparent;
}
.info-text .quote {
  margin-bottom: 35px;
  background: url(../images/quote.png) no-repeat;
}
.info-text .read-more {
  float: right;
  display: inline-block;
  margin-top: 10px;
}
.info-text .archive-link {
  display: block;
  text-transform: uppercase;
  width: 180px;
  height: 30px;
  line-height: 30px;
  font-family: 'helveticaneuecyrlight';
  font-size: 16px;
  padding-left: 8px;
  float: right;
  margin-top: 10px;
  color: white;
  border-bottom: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
  background: #5c5656 url(../images/show-drop.png) no-repeat 95%;
}
.info-text .archive-link:hover {
  background-color: #ed1c24;
}
.footer {
  padding: 30px 0;
}
.foot-list {
  float: left;
}
.foot-list > ul > li {
  float: left;
  margin-right: 70px;
}
.foot-list li {
  margin-bottom: 10px;
  font-family: 'helveticaneuecyrlight';
}
.foot-list a {
  text-transform: uppercase;
  color: #5c5656;
  font-size: 11px;
}
.foot-list a:hover {
  border-bottom: 1px solid #5c5656;
}
.foot-list .link {
  font-family: 'helveticaneuecyrmedium';
  color: #5c5656;
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: none;
}
.foot-list .link:hover,
.foot-list .link.active {
  color: #ed1c24;
}
.foot-list h4 {
  margin-bottom: 15px;
}
.copyright {
  float: right;
  color: #5c5656;
  font-size: 12px;
  font-family: 'helveticaneuecyrlight';
  text-align: right;
  padding-top: 35px;
}
.copyright p {
  margin-bottom: 7px;
}
.copyright .rambler {
  margin-top: 35px;
}
.breadcrumb {
  font-family: 'helveticaneuecyrlight';
  font-size: 12px;
  color: #aeabaa;
  margin-top: 20px;
}
.breadcrumb .container {
  width: 100%;
  max-width: 1440px;
  min-width: 1000px;
  padding-left: 20px;
}
.breadcrumb li {
  float: left;
}
.breadcrumb a {
  color: #5c5656;
  border-bottom: 1px solid #5c5656;
}
.breadcrumb .home-icon {
  float: left;
  margin-right: 10px;
}
.breadcrumb .home-link {
  float: left;
  position: relative;
  top: 3px;
}
.breadcrumb .arrow {
  margin-left: 12px;
  margin-right: 6px;
  position: relative;
  top: 3px;
}
.breadcrumb .this {
  position: relative;
  top: 1px;
}
.category {
  margin-top: 30px;
}
.category .container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  min-width: 1000px;
}
h1 {
  font-size: 36px;
  font-family: 'helveticaneuecyrlight';
  color: black;
}
.filter {
  font-family: 'helveticaneuecyrlight';
  font-size: 16px;
  border-bottom: 1px solid #ededed;
}
.filter ul {
  float: right;
}
.filter li {
  float: left;
  margin-left: 30px;
  padding-bottom: 17px;
}
.filter a {
  color: #5c5656;
  padding-bottom: 17px;
}
.filter a.active,
.filter a:hover {
  color: red;
  border-bottom: 1px solid #ed1c24;
}
.item-block {
  float: left;
  width: 75%;
}
.right-item {
  float: right;
  width: 23%;
}
.right-item img {
  width: 100%;
  height: auto;
}
.item-wrap {
  background-color: #f3f3f3;
  width: 100%;
  margin-bottom: 35px;
}
.item-img {
  float: left;
  width: 41%;
}
.item-img img {
  width: 100%;
  height: auto;
}
.item {
  margin-top: 30px;
  padding-bottom: 110px;
  border-bottom: 1px solid #ededed;
}
.item-desc {
  float: left;
  width: 59%;
  font-family: 'helveticaneuecyrlight';
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}
.item-desc .link {
  color: #5c5656;
  font-size: 28px;
}
.item-desc .link:hover {
  color: #ed1c24;
}
.item-desc p {
  font-size: 13px;
  margin-top: 15px;
  color: #5c5656;
  line-height: 1.5;
}
.view-all {
  display: block;
  text-transform: uppercase;
  width: 180px;
  height: 30px;
  line-height: 30px;
  font-family: 'helveticaneuecyrlight';
  font-size: 16px;
  padding-left: 8px;
  margin-top: 10px;
  color: white;
  border-bottom: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
  background: #5c5656 url(../images/show-drop.png) no-repeat 95%;
}
.view-all:hover {
  background-color: #ed1c24;
}
.about-text {
  width: 75%;
}
.about {
  font-family: 'helveticaneuecyrlight';
  font-size: 14px;
  color: #5c5656;
  line-height: 1.7;
  padding-top: 30px;
}
.about .container {
  width: 100%;
  max-width: 1440px;
  min-width: 1000px;
  padding-left: 20px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 175px;
}
.right-block {
  position: relative;
}
.right-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #ebebeb;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.right-title h3 {
  font-family: 'helveticaneuecyrlight';
  font-size: 22px;
}
.page-columns_has-right {
    padding-right: 330px;
    font-family: 'helveticaneuecyrlight';
}
.page-columns__center {
    float: left;
}
.page-columns__center {
    width: 100%;
}
.section-list__item {
    padding-bottom: 30px;
}

.article-preview-styled {
   display: table;
   table-layout: fixed;
   width: 100%;
   background-color: #ededed;
}
.article-preview-styled__image{
   display: table-cell;
   width: 360px;
   height: 240px;
   background-position: 50% 0%;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
}
.article-preview-styled__content {
    display: table-cell;
    width: 100%;
    padding: 22px 30px 63px 30px;
    font-size: 15px;
    position: relative;
    width: 100%;
    background: #f5f5f5;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    -webkit-transition: background 0.1s;
    transition: background 0.1s;
}

.article-preview-styled__content__inner {
    height: auto;
    max-height: 156px;
    overflow: hidden;
    position: relative;
}
.article-preview-styled__link {
    line-height: 1.2;
    font-size: 28px;
    display: inline-block;
    margin-top: 0;
    color: #000;
}
.article-preview-styled__text {
    margin-top: 20px;
}
.line-height-sm {
    line-height: 1.3;
}
.article-preview-styled__text>:last-child {
    margin-bottom: 0;
}
.sidebars {
    display: table;
    width: 100%;
}
.sidebars__item {
    display: table-cell;
    vertical-align: top;
}
.ul, .ul-parent>ul {
    display: block;
    list-style: none;
}
.ul_check, .ul_check-light, .ul-parent_check>ul, .ul-parent_check-light>ul {
    padding-left: 0;
    margin-left: 0;
}
.ul_check>li, .ul_check-light>li, .ul-parent_check>ul>li, .ul-parent_check-light>ul>li {
    position: relative;
    display: block;
    padding-left: 23px;
    margin-bottom: 5px;
    color: #5c5656;
}
.ul_check>li:before, .ul_check-light>li:before, .ul-parent_check>ul>li:before, .ul-parent_check-light>ul>li:before {
    content: "";
    float: left;
    margin: 3px 0 0 -23px;
    font-size: inherit !important;
    border: 0;
    vertical-align: middle;
}
.btn-checkbox>span:before, .btn-accordion:not(.collapsed):after, .btn-accordion.collapsed:after, [data-toggle="modal"]:not(.btn):after, .popover-close__icon, .chosen-container.dropdown-autocomplete .chosen-single:before, .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after, .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ul_check>li:before, .ul_check-light>li:before, .ul-parent_check>ul>li:before, .ul-parent_check-light>ul>li:before, .icon, .rate-bonus-info__title:before, .extra-service-info__item__icon:before, .go-top__inner:before {
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    background-image: url('../images/icons-sea793d4900.png');
}
.icon-check, .ul_check>li:before, .ul-parent_check>ul>li:before {
    height: 12px;
    width: 12px;
    background-position: 0 -352px;
}
.color-red {
    color: #ed1c24;
}
.article-preview-styled__footer {
    position: absolute;
    bottom: 25px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-image: none;
    background-color: #ededed;
    border: none;
    letter-spacing: 0.25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
    padding: 8px 20px 7px;
    line-height: 17px;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-link {
    color: #000;
    padding-left: 0 !important;
    padding-right: 0 !important;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}
.btn-sm, .btn-group-sm>.btn {
    height: 22px;
    padding: 4px 15px 3px;
    line-height: 15px;
    font-size: 12px;
}
.btn-sm, .btn-group-sm>.btn {
    font-size: 12px;
}
.reset-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.icon-pointer-left, .icon-pointer-right {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    background: transparent;
}
.icon-pointer-right {
    border-left: 6px solid #fff;
}
.btn .icon-pointer-left, .btn .icon-pointer-right {
    margin-bottom: -2px;
    vertical-align: baseline;
    background: none;
}
.btn .icon-pointer-right {
    margin-right: 0;
    margin-left: 5px;
}
.icon-pointer-left.brand-red, .icon-pointer-right.brand-red {
    border-left-color: #ed1c24;
}
.btn>.on-hover-show {
    display: none;
}

.article-preview-styled:hover .article-preview-styled__link {
    color: #ed1c24;
}
.article-preview-styled:hover .article-preview-styled__content {
    background: #ededed;
}
.article-preview-styled:hover .article-preview-styled__footer .btn-link_has-hover {
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: #fff;
    background: #ed1c24;
}

.article-preview-styled:hover .article-preview-styled__footer .btn-link_has-hover .on-hover-hide {
    display: none;
}
.article-preview-styled:hover .article-preview-styled__footer .btn-link_has-hover .on-hover-show {
    display: inline-block;
}

.page-columns__right {
    float: right;
    clear: none;
    width: 330px;
    margin: 0 -330px 0 0;
    padding-left: 30px;
}
.widget-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}
.widget-wrapper:first-child{
   margin-top: 0;
}
.widget-wrapper-360 {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}
.tariff-item-widget__image {
    height: 155px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.well {
    min-height: 20px;
    padding: 30px;
    background-color: #ededed;
}
.title-of-widget, .title-of-widget-md {
    margin-top: -4px;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 21px;
    color: #000;
}
.uppercase {
    text-transform: uppercase;
}
.btn-link_active.btn-sm, .btn-group-sm>.btn-link_active.btn, .btn-link_has-hover:hover.btn-sm, .btn-group-sm>.btn-link_has-hover.btn:hover {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.btn:hover>.on-hover-hide {
    display: none;
}
.btn:hover>.on-hover-show {
    display: inline-block;
}
.btn-link_active, .btn-link_has-hover:hover {
    color: #fff !important;
    background: #ed1c24;
}

.widget-wrapper:last-child, .widget-wrapper:last-of-type {
    margin-bottom: 0;
}
.offer-banner {
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-align: left;
    white-space: initial;
    background-color: #ededed;
}
.offer-banner__link {
    color: #fff;
    position: relative;
    z-index: 1;
    display: block;
}
.offer-banner__link__before, .offer-banner__link:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    background: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.offer-banner__image {
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    -webkit-background-size: cover;
    background-size: cover;
}

.offer-banner__content-wrap {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    padding: 24px 30px 48px;
    background-size: 100%;
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.75),rgba(0,0,0,0.5),rgba(0,0,0,0.3),rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.75),rgba(0,0,0,0.5),rgba(0,0,0,0.3),rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: linear-gradient(to top, rgba(0,0,0,0.75),rgba(0,0,0,0.5),rgba(0,0,0,0.3),rgba(0,0,0,0.1),rgba(0,0,0,0));
    -moz-transition: all 0.13s linear;
    -o-transition: all 0.13s linear;
    -webkit-transition: all 0.13s linear;
    transition: all 0.13s linear;
}
.offer-banner_small .offer-banner__content-wrap {
    padding-left: 25px;
    padding-right: 25px;
}
.offer-banner__content {
    position: relative;
    z-index: 1;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.offer-banner__content__row {
    display: table-row;
}
.offer-banner__content__row__cell {
    display: table-cell;
}
.offer-banner__content__row__cell_title {
    height: 100%;
    vertical-align: bottom;
    line-height: 1.2;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
.offer-banner__content__row__cell_features {
    line-height: 1.2;
    vertical-align: middle;
    color: #fff;
    overflow: hidden;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.offer-banner__content__row__cell__hidden {
    position: relative;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    left: 100%;
    max-height: 0;
    overflow: hidden;
    -moz-transition: left 0.3s,max-height 0.1d;
    -o-transition: left 0.3s,max-height 0.1d;
    -webkit-transition: left 0.3s,max-height 0.1d;
    transition: left 0.3s,max-height 0.1d;
}
.text-size-sm {
    font-size: 13px;
}
.offer-banner__footer {
    position: absolute;
    z-index: 2;
    left: 30px;
    right: 30px;
    bottom: 20px;
    text-align: left;
}
.offer-banner_small .offer-banner__footer {
    left: 25px;
    right: 25px;
}
.theme-light {
    color: #fff;
    border-color: #fff;
}
.reset-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.offer-banner__link:hover {
    color: inherit;
}
.offer-banner__link:hover .offer-banner__link__before, .offer-banner__link:hover:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
.offer-banner_small:hover .offer-banner__content__row__cell_title {
    padding-bottom: 12px;
}
.offer-banner__link:hover .offer-banner__content__row__cell_features {
    padding-bottom: 25px;
}
.offer-banner__link:hover .offer-banner__content__row__cell__hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    max-height: 400px;
    left: 0;
    -moz-transition: opacity 0.2s,left 0.3s,max-height 0.1s;
    -o-transition: opacity 0.2s,left 0.3s,max-height 0.1s;
    -webkit-transition: opacity 0.2s,left 0.3s,max-height 0.1s;
    transition: opacity 0.2s,left 0.3s,max-height 0.1s;
}
.offer-banner__link:hover .btn-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
    background: #ed1c24;
}
.offer-banner__link:hover .on-hover-hide {
    display: none;
}
.offer-banner__link:hover .on-hover-show {
    display: inline-block;
}

.page-header__title_has-nav {
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}
.width-full {
    width: 100%;
}
.padding-right-md {
    padding-right: 30px;
}
h1:first-child, .h1:first-child, .title-of-page:first-child, .title-of-widget-lg:first-child, h2:first-child, .h2:first-child, h3:first-child, .h3:first-child {
    margin-top: -6px;
}
.page-header__title .title-of-page, .page-header__title .title-of-widget-lg {
    margin-bottom: 0;
}
.tabs-nav {
    opacity: 0;
    position: relative;
    cursor: pointer;
    height: 33px;
    z-index: 1;
    background: #ed1c24;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.tabs-nav {
    cursor: initial;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 0;
    height: auto;
    font-size: 0;
    white-space: nowrap;
    border: 0;
    background: none;
}
.page-header__title .tabs-nav {
    margin-top: 10px;
    margin-bottom: -20px;
    text-align: right;
}
.tabs-nav__item {
    display: none;
    font-size: 14px;
    color: #ed1c24;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs-nav__item {
    display: inline-block;
    height: auto;
    overflow: visible;
    vertical-align: middle;
    font-size: 16px;
    color: #a19696;
    border-width: 0;
}
.tabs-nav__item:first-child, .tabs-nav__item.active {
    position: relative;
    display: block;
    color: #000;
}
.tabs-nav__item:first-child, .tabs-nav__item.active {
    pointer-events: auto;
    display: inline-block;
}
.tabs-nav__item__link {
    position: relative;
    display: block;
    padding: 0 15px;
    line-height: 32px;
    height: 33px;
    color: #000;
    font-family: 'helveticaneuecyrlight';
    white-space: nowrap;
    background: #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #fff;
}
   .tabs-nav__item__link:hover{
      color: #ed1c24;
      text-decoration: none;
   }
.tabs-nav__item__link {
    padding: 0 20px 17px;
    height: auto;
    line-height: 18px;
    border: 0;
    background: none;
}
:first-child>.tabs-nav__item__link {
    height: auto;
}
.tabs-nav__item__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    display: block;
    height: 2px;
}
.page-header__title_has-nav:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.page-header__title_has-nav:after, .separator {
    display: block;
    height: 1px;
    background: #ededed;
}


.page-header__image, .main-slider__item {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: normal;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    height: 400px;
    background-position: 50% 0%;
}
}
.page-header__image_has-foundation {
    padding-bottom: 70px;
}
[data-full-width="true"].page-header__image, [data-full-width="true"].main-slider__item {
    background-size: 100% auto;
}

.page-header__image__inner {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.page-header__image_has-foundation .page-header__image__inner {
    padding-bottom: 0;
}
.tabs-layer {
    position: relative;
    z-index: 7;
    height: 40px;
    margin-top: -43px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
    max-width: 440px;
    font-family: 'helveticaneuecyrlight';
}
.tabs-layer {
    max-width: 100%;
}
.nav-tabs {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-tabs_style-1 {
    position: relative;
    padding-top: 38px;
    height: 38px;
    background: #fff;
    max-width: 440px;
    border: 1px solid #ededed;
}
.nav-tabs_style-1 {
    border: 0;
}
.nav-tabs_style-1 {
    max-width: none;
    padding-top: 0;
    background: none;
}
.nav-tabs_style-1>li {
    display: block;
    height: 38px;
    font-size: 16px;
    color: #000;
    border-top: 1px solid #ededed;
}
.nav-tabs_style-1>li {
    float: left;
    height: 40px;
    margin-bottom: -1px;
    margin-right: 1px;
    border-bottom: 0;
}
.nav-tabs_style-1>li.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 51px;
    bottom: 0;
    border-top: 0;
}
.nav-tabs_style-1>li.active {
    position: static;
    border-bottom: 0;
}
.nav-tabs_style-1>li>a {
    position: relative;
    display: block;
    height: 100%;
    padding: 7px 16px;
    line-height: 1.53;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    white-space: nowrap;
    border: 1px solid transparent;
}
.nav-tabs_style-1>li>a {
    background: #ededed;
}
.nav-tabs_style-1>li>a {
    padding-right: 29px;
    padding-left: 29px;
}
.nav-tabs_style-1>li.active>a, .nav-tabs_style-1>li.active>a:hover, .nav-tabs_style-1>li.active>a:focus {
    color: #ed1c24;
    background-color: #fff;
    border: 0;
    padding-bottom: 9px;
}

.main-h3{
   font-size: 28px;
   margin-top: 26px;
   margin-bottom: 21px;
}
.col-md-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.ol_steps-horizontal, .goods, .row {
    margin-left: -15px;
    margin-right: -15px;
}
.rate-bonus-info {
    padding-left: 30px;
}
.rate-bonus-info__title {
    font-size: 20px;
    line-height: 1.3;
}
.rate-bonus-info__title__icon {
    float: left;
    width: 30px;
    margin-left: -30px;
}
.tab-content{
   font-family: 'helveticaneuecyrlight';
}

.rate-bonus-info+.rate-bonus-info, table+.rate-bonus-info {
    margin-top: 20px;
}


.rate-bonus-info__title a{
   color: #000;
}
   .rate-bonus-info__title a:hover{
      color: #ed1c24;
      text-decoration: none;
   }
.my-ul{
   list-style: none;
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 15px;
    line-height: 1.53;
    color: #5c5656;
    padding-left: 40px;
}
.my-ul li {
    position: relative;
}
.my-ul>li:before {
    content: "";
    width: 20px;
    height: 0;
    float: left;
    margin-top: 3px;
    margin-left: -25px;
    margin-bottom: -2px;
    border-left: 6px solid #ed1c24;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}
.my-ul a{
   color: #000;
}
   .my-ul a:hover{
      color: #ed1c24;
      text-decoration: none;
   }

.stack-table.large-only {
    display: table;
    width: 100%;
    margin-bottom: 22px;
    border-bottom: 1px solid #ededed;
}
table th {
    text-align: left;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    background: #ededed;
}
table>thead>tr>th, 
table>tbody>tr>th, 
table>tfoot>tr>th, 
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th {
    padding: 13px 20px 14px;
    vertical-align: baseline;
    border-left: 1px solid #fff;
}

h4, .extra-service-info__head__title, .h4, .text-size-h4 {
    font-size: 22px;
}
.reset-child-padding-top>* {
    padding-top: 0 !important;
}
.reset-child-border>* {
    border: 0 !important;
}
.text-center {
    text-align: center;
}
.table-invert>thead>tr>th, .table-invert>tbody>tr>th, .table-invert>tfoot>tr>th {
    background: none;
    border-color: #ededed;
}
table>thead>tr>th:first-child, 
table>tbody>tr>th:first-child, 
table>tfoot>tr>th:first-child, 
.table>thead>tr>th:first-child, 
.table>tbody>tr>th:first-child, 
.table>tfoot>tr>th:first-child {
    border-left: 0;
}

table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 10px 20px 11px;
    vertical-align: baseline;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
}
.text-size-lg {
    font-size: 18px;
}
.table-invert>thead>tr>td, .table-invert>tbody>tr>td, .table-invert>tfoot>tr>td {
    background: #ededed;
    border-color: #fff;
}
.tab-content p{
   font-size: 15px;
    line-height: 1.53;
    color: #5c5656;
    margin: 20px 0 18px;
}
ol{
   padding-left: 40px;
   font-size: 15px;
   line-height: 1.53;
   color: #5c5656;
}

ol>li {
    counter-increment: item;
    position: relative;
}
ol>li:before {
    content: counter(item) ".";
    position: absolute;
    text-outline: none;
    right: 100%;
    display: block;
    width: 40px;
    padding-right: 20px;
    text-align: right;
}

.accordion__title {
    position: relative;
    cursor: pointer;
    display: block;
    line-height: 1.2;
    color: #ed1c24;
    border-bottom: 1px solid #ededed;
    padding: 10px 30px 10px 0;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.accordion__title.collapsed {
    color: #5c5656;
}
.accordion_lg .accordion__title {
    padding: 15px 30px 13px 0;
    font-size: 18px;
}

.accordion__title .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
}
.icon-pointer-down.brand-red, .brand-red.btn-accordion.collapsed:after {
    border-top-color: #ed1c24;
}
.accordion_lg .accordion__title .icon-pointer-down, .accordion_lg .accordion__title .btn-accordion.collapsed:after, .accordion_lg .accordion__title .icon-pointer-up, .accordion_lg .accordion__title .btn-accordion:not(.collapsed):after {
    margin-top: -3px;
}
.on-collapse.collapsed .on-collapse-show {
    display: inline-block;
}
.collapse {
    display: none;
}
.accordion__content {
    border-bottom: 1px solid #ededed;
}
.accordion__content>:first-child {
    margin-top: 20px;
}
.collapse.in {
    display: block;
}
.accordion__content .content-block{
       font-size: 15px;
    line-height: 1.53;
    color: #5c5656;
}

.display-inline-block{
   font-family: 'helveticaneuecyrbold';
   color: #000;
   display: inline-block;
}

.text-marked {
    display: inline-block;
    vertical-align: baseline;
    margin-top: -3px;
    margin-left: 1px;
    padding: 4px 9px 3px;
    color: #ed1c24;
    line-height: 1.2;
    font-size: 17px;
    white-space: nowrap;
    background: #fffee9;
}

.tab-pane a{
   color: #000;
}
   .tab-pane a:hover{
      color: #ed1c24;
      text-decoration: none;
   }



.icon-pointer-up, .btn-accordion:not(.collapsed):after, 
.icon-pointer-down, .btn-accordion.collapsed:after {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    background: transparent;
    overflow: hidden;
}
.icon-pointer-down, .btn-accordion.collapsed:after {
    border-top: 6px solid #fff;
}
.accordion__title .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
}
.accordion__title .icon-pointer-down, .accordion__title .btn-accordion.collapsed:after, .accordion__title .icon-pointer-up, .accordion__title .btn-accordion:not(.collapsed):after {
    margin-top: -3px;
}
.icon-pointer-down.brand-red, .brand-red.btn-accordion.collapsed:after {
    border-top-color: #ed1c24;
}

.icon-pointer-down.rotate{
   -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tab-pane .btn-primary {
    color: #fff !important;
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover {
    background: #ed1c24;
}
#tab-18,
#description,
#connection{
   display: none;
}

.nav-tabs li a{
   cursor: pointer;
}

.item-category{
   padding-bottom: 70px;
   border-bottom: 1px solid #dddcdc;
}
@media(max-width: 1250px){
   .article-preview-styled__image{
      width: 320px;
   }
}