
@red: #ed1c24;
@grey: #5c5656;

.cell{
	display: table-cell;
	vertical-align: middle;
}

.container{
	width: 1000px;
	margin: auto;
}
a{
	text-decoration: none;
}

.header{
	font-family: 'helveticaneuecyrlight';
	position: relative;
	z-index: 1111;
}


.slider-wrapper{
	width: 100%;
	max-width: 1440px;
	margin: auto;
	min-width: 1000px;
}

.top-panel{
	width: 100%;
	min-width: 1000px;
	background-color: #1a415d;
	height: 60px;

		.container{
			position: relative;
		}
}

.logo{
	position: absolute;
	left: 0;
	z-index: 3;
}

.nav-wrap{
	margin-left: 310px;
	padding-left: 25px;


		> ul{

			> li{
			float: left;
			padding-right: 30px;
			height: 60px;
			
				&:first-child a:hover:after,
				&:nth-child(2) a:hover:after,
				&:first-child a.active:after,
				&:nth-child(2) a.active:after{
					width: 60px;
				}
				&:last-child a:hover:after,
				&:last-child a:active:after{
					left: 6px;
				}
				> a{
					color: #fff;
					display: block;
					height: 60px;
					line-height: 60px;
					position: relative;

						&:hover:after,
						&.active:after{
							content: "";
							display: block;
							position: absolute;
							width: 90px;
							height: 4px;
							bottom: 14px;
							background: url(../images/line.png)no-repeat;
						}
				}
		}
		}

		
}

.bot-header{
	width: 100%;
	min-width: 100%;
	height: 75px;
	background-color: #fefefe;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.06);
	-moz-box-shadow:    -1px 3px 7px 0px rgba(0, 0, 0, 0.06);
	box-shadow:         -1px 3px 7px 0px rgba(0, 0, 0, 0.06);

		.container{
			position: relative;
			z-index: 2;
		}
}


.nav{
	margin-left: 305px;
	display: none;
		&:hover{
			display: block !important;
		}

		> ul{
			line-height: 1.1;

			>li{
				float: left;
				width: 16.6%;
				text-align: center;
				font-size: 15px;

					&:first-child{
						width: 14%;
					}
					&:nth-child(2){
						width: 19.2%;
					}

					> a{
						width: 200px;
						height: 75px;
						display: table-cell;
						vertical-align: middle;
						cursor: default;
						position: relative;
						z-index: 3;
						background: url(../images/drop.png)no-repeat 95%;
						-webkit-transition: all 0.2s ease;
						-moz-transition:    all 0.2s ease;
						transition:         all 0.2s ease;

					}
					&:hover > a{
						color: #ed1c24;
    					background: #fff url(../images/drop-a.png) no-repeat 95%;
					}
					&:hover{
						-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
							-moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
							     box-shadow: 0 0 10px rgba(0,0,0,0.25);
					}
					&:hover .dropdown-menu{
						visibility: visible;
						opacity: 1;
						-webkit-transition-delay: 0s;
							-moz-transition-delay: 0s;
								-o-transition-delay: 0s;
									transition-delay: 0s;
						 -webkit-transition-property: none;
							 -moz-transition-property: none;
                        -o-transition-property: none;
                           transition-property: none;
					}
			}
		}
}


.dropdown-menu{
	position: absolute;
	z-index: 2;
	left: 0;
	padding: 25px 0;
	padding-right: 20px;
	background-color: #fff;
	white-space: normal;
	text-align: left;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	        box-shadow: 0 0 10px rgba(0,0,0,0.25);
    opacity: 0;
    right: 0;
    visibility: hidden;
    width: auto;
    min-width: 100%;
    -moz-transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    -o-transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    -webkit-transition: visibility 0s linear,opacity 0.1s linear;
    -webkit-transition-delay: 0.1s,0s;
    transition: visibility 0s linear 0.1s,opacity 0.1s linear;

	   > li{
	   	float: left;
	   	width: 25%;
	   	padding-left: 20px;
	   }
	   a{
	   	color: #5c5656;
	   	font-size: 12px;
	   	text-transform: uppercase;
	   	display: inline-block;

	   		&:hover{
	   			color: @red;
	   		}
	   }
	   .title-h5{
	   	font-size: 16px;
	   	color: #000;
	   	text-transform: none;
	   }
}
.third-level li{
	margin-bottom: 6px;
}
.drop-img{
	width: 100%;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	margin-bottom: 20px;

}

.slide-caption{
	position: absolute;
	width: 1000px;
	z-index: 10;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -92.5px;
}

.caption-text{
	width: 410px;
	height: 185px;
	background-color: @red;
	position: absolute;
	z-index: 2;
	left: 95px;
	text-transform: uppercase;
	color: #fff;
	line-height: 35px;

		.title{
			font-family: 'helveticaneuecyrbold';
			font-size: 32px;
		}
		.text{
			font-family: 'helveticaneuecyrroman';
			font-size: 24px;
		}
}
.caption-cell{
	width: 410px;
	height: 185px;
	padding-left: 35px;
	padding-right: 35px;
	.cell;
}
.bxslider li:last-child img{
	position: relative;
	left: -2px;
}

.icon-1{
	width: 32px;
	height: 26px;
	background: url(../images/icon-1.png)no-repeat;
}
.icon-2{
	width: 32px;
	height: 24px;
	background: url(../images/icon--2.png)no-repeat;
}
.icon-3{
	width: 38px;
	height: 26px;
	background: url(../images/icon-3.png)no-repeat;
}
.icon-4{
	width: 28px;
	height: 32px;
	background: url(../images/icon--4.png)no-repeat;
}
.icon-5{
	width: 32px;
	height: 30px;
	background: url(../images/icon-5.png)no-repeat;
}
.icon-6{
	width: 22px;
	height: 32px;
	background: url(../images/icon-6.png)no-repeat;
}
.icon-7{
	width: 34px;
	height: 33px;
	background: url(../images/icon-7.png)no-repeat;
}

.icon-link{
	display: table;
   color: #373434;
   font-size: 14px;
   margin-left: auto;
   margin-right: auto;
   font-family: 'helveticaneuecyrlight';
   line-height: 1.3;
   padding-left: 15px;

	&:hover .icon-1{background: url(../images/icon-1h.png)no-repeat;}
	&:hover .icon-2{background: url(../images/icon-2h.png)no-repeat;}
	&:hover .icon-3{background: url(../images/icon-3h.png)no-repeat;}
	&:hover .icon-4{background: url(../images/icon-4h.png)no-repeat;}
	&:hover .icon-5{background: url(../images/icon-5h.png)no-repeat;}
	&:hover .icon-6{background: url(../images/icon-6h.png)no-repeat;}
	&:hover .icon-7{background: url(../images/icon-7h.png)no-repeat;}

		.text{
		   width: auto;
		   text-overflow: ellipsis;
		   overflow: hidden;
		   .cell;
		}
}

.icon-block{
	width: 14%;
 	float: none;
 	.cell;
}
.icon-img{
	 position: relative;
	 padding-right: 10px;
    width: auto;
    text-align: center;
    .cell;
}

.icons-wrapper{
	background-color: #ededed;
	padding: 8px 0;
	width: 100%;
	max-width: 1440px;
	min-width: 1000px;
	margin: auto;
}

.icon-border{
	border-top: 1px solid #dddcdc;
	border-bottom: 1px solid #fff;
}
.icons-container{
	padding-top: 30px;
	padding-bottom: 25px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dddcdc;

		.container{
			width: 100%;
			max-width: 1440px;
			min-width: 1000px;
		}
}

.banner-img{
	width: 100%;
	height: 235px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.banners{
	width: 33.33%;
	float: left;
	position: relative;
	overflow: hidden;
	height: 235px;
}
.banners-mask{
	position: absolute;
	z-index: 2;
	top:0;
	left: 0;
	padding-left: 20px;
	padding-top: 125px;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.1s linear;
	-moz-transition: 	  all 0.1s linear;
	transition:         all 0.1s linear;

		.title{
			text-transform: uppercase;
			color: #fff;
			font-family: 'helveticaneuecyrbold';
			font-size: 22px;
			padding-top: 20px;
			padding-bottom: 15px;
		}

		&:hover{
			background: rgba(0,0,0, 0.59);
			padding-top: 0;
		}
		&:hover .offer-list{
			   filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
			   opacity: 1;
			   max-height: 400px;
			   min-height: 125px;
			   left: 0;
			   -moz-transition: opacity 0.2s,left 0.3s,max-height 0.1s;
			   -o-transition: opacity 0.2s,left 0.3s,max-height 0.1s;
			   -webkit-transition: opacity 0.2s,left 0.3s,max-height 0.1s;
			   transition: opacity 0.2s,left 0.3s,max-height 0.1s;
		}
		&:hover .show-link{
			background-color: #ed1c24;
		}
		.title{
			padding-bottom: 0;
		}
}

.offer-list{
	font-family: 'helveticaneuecyrlight';
	font-size: 14px;
	margin: 10px 0;
	margin-top: 15px;
	position: relative;
   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
   opacity: 0;
   left: 100%;
   max-height: 0;
   overflow: hidden;
   -moz-transition: left 0.3s,max-height 0.1d;
   -o-transition: left 0.3s,max-height 0.1d;
   -webkit-transition: left 0.3s,max-height 0.1d;
   transition: left 0.3s,max-height 0.1d;


		li{
			position: relative;
			margin-bottom: 10px;
			margin-left: 12px;

				&:hover:before{
					background: url(../images/list-h.png)no-repeat;
				}
				&:hover a{
					text-decoration: none;
				}

				&:before{
					content: '';
					display: block;
					width: 5px;
					height: 9px;
					background: url(../images/list.png)no-repeat;
					left: -10px;
					top: 4px;
					position: absolute;
				}

				a{
					color: #fff;
					text-decoration: underline;
				}
		}
}
.show-link{
	display: block;
	width: 180px;
	height: 30px;
	padding-left: 10px;
	text-transform: uppercase;
	color: #fff;
	line-height: 30px;
	font-family: 'helveticaneuecyrlight';
	font-size: 16px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
	background: @grey url(../images/show-drop.png)no-repeat 97% 8px;
}

.about-company{
	width: 50%;
	float: left;
	padding-right: 20px;
}
.question{
	width: 50%;
	float: left;
	padding-left: 20px;
}

.offer-banners{
	padding-bottom: 10px;
	border-bottom: 1px solid #dddcdc;
	width: 100%;
	max-width: 1440px;
	margin: auto;
	min-width: 1000px;
}

.info-text{
	padding-top: 40px;
	font-size: 12px;
	color: @grey;
	font-family: 'helveticaneuecyrlight';
	line-height: 1.5;
	padding-bottom: 45px;
	border-bottom: 1px solid #dddcdc;

		.container{
			width: 100%;
			max-width: 1440px;
			min-width: 1000px;
			padding-left: 20px;
		}

		.title{
			text-transform: uppercase;
			font-family: 'helveticaneuecyrbold';
		}


		h2{
			font-family: 'helveticaneuecyrroman';
			color: @grey;
			font-size: 24px;
			margin-bottom: 25px;
		}
		b{
			font-family: 'helveticaneuecyrbold';

		}
		p{
			margin-bottom: 20px;
		}
		.adver-list{
			margin: 20px 0;
			margin-left: 18px;

				li{
					position: relative;
					margin-bottom: 5px;

						&:before{
							content: '';
							position: absolute;
							width: 12px;
							height: 14px;
							background: url(../images/adver.png)no-repeat;
							left: -18px;
						}
				}
		}
		a{
			color: @grey;
			border-bottom: 1px solid  @grey;

				&:hover{
					border-bottom: 1px solid transparent;
				}
		}

		.quote{
			margin-bottom: 35px;
			background: url(../images/quote.png)no-repeat;
		}
		.read-more{
			float: right;
			display: inline-block;
			margin-top: 10px;
		}
		.archive-link{
			display: block;
			text-transform: uppercase;
			width: 180px;
			height: 30px;
			line-height: 30px;
			font-family: 'helveticaneuecyrlight';
			font-size: 16px;
			padding-left: 8px;
			float: right;
			margin-top: 10px;
			color: #fff;
			border-bottom: 0;
			text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
			background: @grey url(../images/show-drop.png)no-repeat 95%;

				&:hover{
					background-color: @red;
				}
		}

}	

.footer{
	padding: 30px 0;
}

.foot-list{
	float: left;

		> ul{
			> li{
				float: left;
				margin-right: 70px;
			}
		}
		
		li{
			margin-bottom: 10px;
			font-family: 'helveticaneuecyrlight';
		}
		a{
			text-transform: uppercase;
			color: @grey;
			font-size: 11px;

				&:hover{
					border-bottom: 1px solid @grey;
				}
		}
		.link{
			font-family: 'helveticaneuecyrmedium';
			color: @grey;
			margin-bottom: 15px;
			font-size: 16px;
			text-transform: none;

				&:hover,
				&.active{
					color: @red;
				}
		}
		h4{
			margin-bottom: 15px;
		}
}
.copyright{
	float: right;
	color: @grey;
	font-size: 12px;
	font-family: 'helveticaneuecyrlight';
	text-align: right;
	padding-top: 35px;	
		
		p{
			margin-bottom: 7px;
		}
		.rambler{
			margin-top: 35px;
		}
}

.breadcrumb{
	font-family: 'helveticaneuecyrlight';
	font-size: 12px;
	color: #aeabaa;
	margin-top: 20px;

		.container{
			width: 100%;
			max-width: 1440px;
			min-width: 1000px;
			padding-left: 20px;
		}

		li{
			float: left;
		}
		a{
			color: @grey;
			border-bottom: 1px solid @grey;
		}
		.home-icon{
			float: left;
			margin-right: 10px;
		}
		.home-link{
			float: left;
			position: relative;
			top: 3px;
		}
		.arrow{
			margin-left: 12px;
			margin-right: 6px;
			position: relative;
			top: 3px;
		}
		.this{
			position: relative;
			top: 1px;
		}
}

.category{
	margin-top: 30px;

		.container{
			width: 100%;
			max-width: 1440px;
			padding-left: 20px;
			min-width: 1000px;
		}
}

h1{
	font-size: 36px;
	font-family: 'helveticaneuecyrlight';
	color: #000;
}


.filter{
	font-family: 'helveticaneuecyrlight';
	font-size: 16px;
	border-bottom: 1px solid #ededed;

		ul{
			float: right;
		}

		li{
			float: left;
			margin-left: 30px;
			padding-bottom: 17px;
		}
		a{
			color: @grey;
			padding-bottom: 17px;

				&.active,
				&:hover{
					color: red;
					border-bottom: 1px solid @red;
				}
		}
}
.item-block{
	float: left;
	width: 75%;
}
.right-item{
	float: right;
	width: 23%;

		img{
			width: 100%;
			height: auto;
		}
}
.item-wrap{
	background-color: #f3f3f3;
	width: 100%;
	margin-bottom: 35px;
}
.item-img{
	float: left;
	width: 41%;

		img{
			width: 100%;
			height: auto;
		}
}
.item{
	margin-top: 30px;
	padding-bottom: 110px;
	border-bottom: 1px solid #ededed;
}

.item-desc{
	float: left;
	width: 59%;
   font-family: 'helveticaneuecyrlight';
   padding-left: 20px;
   padding-top: 10px;
   padding-right: 20px;
	
		.link{
			color: @grey;
			font-size: 28px;

				&:hover{
					color: @red;
				}
		}
		p{
			font-size: 13px;
			margin-top: 15px;
			color: @grey;
			line-height: 1.5;
		}

}

.view-all{
	display: block;
	text-transform: uppercase;
	width: 180px;
	height: 30px;
	line-height: 30px;
	font-family: 'helveticaneuecyrlight';
	font-size: 16px;
	padding-left: 8px;
	margin-top: 10px;
	color: #fff;
	border-bottom: 0;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
	background: @grey url(../images/show-drop.png)no-repeat 95%;

		&:hover{
			background-color: @red;
		}
}

.about-text{
	width: 75%;
}

.about{
	font-family: 'helveticaneuecyrlight';
	font-size: 14px;
	color: @grey;
	line-height: 1.7;
	padding-top: 30px;
	

		.container{
			width: 100%;
			max-width: 1440px;
			min-width: 1000px;
			padding-left: 20px;
			border-bottom: 1px solid #ededed;
			padding-bottom: 175px;
		}
}

.right-block{
	position: relative;
}
.right-title{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: #ebebeb;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;

		h3{
			font-family: 'helveticaneuecyrlight';
			font-size: 22px;
		}
}
